@model MVCStudList.Models.StudentListModel
@*@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "MVC Students List";
}

<hr />

<div class="container-fluid">
    <div class="row">
        <form>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Grupa:</label>
                    </div>
                    <div class="dropdown col-sm-8">
                        @Html.DropDownListFor(m => m.GroupID, new SelectList(Model.Groups, "IDGroup", "Name", Model.GroupSelected))
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Miasto:</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.CityFilter, new { @class="form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-success btn-block" id="ClearBtn" formaction="@Url.Action("Clear", "Home")" value="Wyczyść">
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-success btn-block" id="FilterBtn" formaction="@Url.Action("Filter", "Home")" value="Filtruj"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr />

    <div class="row">
        <iframe src='@Url.Action("StudentsList", "Home")' width="100%" height="800px" frameborder="0" scrolling="no"></iframe> 
    </div>
    <hr/>

</div>