@model MVCStudList.Models.StudentListModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
</head>

<script type="text/javascript">
    function SetupInputs(id) {
        $.ajax({
            url: 'SelectStudent',
            data: { id: id }
        }).done(function() {
            location.reload();
        });
    }
</script>

@{
    Layout = null;
}


<table class="table table-hover">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Grupa
        </th>
        <th>
            Miasto
        </th>
        <th>
            Indeks
        </th>
    </tr>

    @foreach (var item in Model.StudentsPagedList)
    {
        <tr class="clickable-row" onclick="SetupInputs(@item.IDStudent);" id="@item.IDStudent">
            <td id="@item.IDStudent FN">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td id="@item.IDStudent LN">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td id="@item.IDStudent GN">
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td id="@item.IDStudent BP">
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td id="@item.IDStudent IN">
                @Html.DisplayFor(modelItem => item.IndexNo)
            </td>
        </tr>
    }
</table>

<br />
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

@Html.PagedListPager(Model.StudentsPagedList, page => Url.Action("StudentsList",
    new { page, currentFilter = ViewBag.CurrentFilter }))

<form id="inputForm">
    <fieldset>
        <div class="row">
            <div class="col-sm-4">
                <label>Grupa:</label>
            </div>
            <div class="col-sm-8 form-group">
                @Html.DropDownListFor(m => m.GroupID, new SelectList(Model.Groups, "IDGroup", "Name", Model.GroupChosen), new { @class = "dropdown"})
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Imię:</label>
            </div>
            <div class="col-sm-8 form-group">
                @Html.TextBox("FirstName", Model.FirstName, new { @class = "form-control", @required="true"} )
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Nazwisko:</label>
            </div>
            <div class="col-sm-8 form-group">
                @Html.TextBox("LastName", Model.LastName, new { @class = "form-control", @required = "true"})
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Miejsce urodzenia:</label>
            </div>
            <div class="col-sm-8 form-group">
                @Html.TextBox("BirthPlace", Model.BirthPlace, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Data urodzenia:</label>
            </div>
            <div class="col-sm-8 form-group">
                @Html.TextBox("BirthDate", Model.BirthDate, new { @class = "form-control"})
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label>Indeks:</label>
            </div>
            <div class="col-sm-8 form-group">
                @Html.TextBox("Index", Model.Index, new { @class = "form-control", @required = "true"})
            </div>
        </div>

        <div class="row">
            <div class="button-box col-sm-6">
            </div>
            <div class="button-box col-sm-6">
                <div class="button-box col-sm-2">
                    <input type="submit" class="btn btn-primary pull-right btn-block" value="Nowy" formaction="@Url.Action("New", "Home")"/>
                </div>
                <div class="button-box col-sm-2">
                    <input type="submit" class="btn btn-primary pull-right btn-block" value="Zapisz" formaction="@Url.Action("Save", "Home")" />
                </div>
                <div class="button-box col-sm-2">
                    <input type="submit" class="btn btn-primary pull-right btn-block" value="Usuń" formaction="@Url.Action("Remove", "Home")" />
                </div>
            </div>
        </div>
    </fieldset>
</form>
<script>
    $("#inputForm").validate();
</script>