@model PagedList.IPagedList<MVCStudList.Models.Student>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
    function DoNav(theUrl) {
        document.location.href = theUrl;
    }
</script>
@{
    Layout = null;
}


<table class="table table-hover">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Grupa
        </th>
        <th>
            Miasto
        </th>
        <th>
            Indeks
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="clickable-row" onclick="DoNav('dasda');">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndexNo)
            </td>
        </tr>
    }
</table>

<br />
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

@Html.PagedListPager(Model, page => Url.Action("StudentsList",
    new { page, currentFilter = ViewBag.CurrentFilter }))

<div class="row">
    <div class="col-sm-4">
        <label>Grupa:</label>
    </div>
    <div class="col-sm-8 form-group">
        <input type="text" class="form-control" id="usr">
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Imię:</label>
    </div>
    <div class="col-sm-8 form-group">
        <input type="text" class="form-control" id="usr">
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Nazwisko:</label>
    </div>
    <div class="col-sm-8 form-group">
        <input type="text" class="form-control" id="usr">
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Miejsce urodzenia:</label>
    </div>
    <div class="col-sm-8 form-group">
        <input type="text" class="form-control" id="usr">
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Data urodzenia:</label>
    </div>
    <div class="col-sm-8 form-group">
        <input type="text" class="form-control" id="usr" placeholder="1/01/2016">
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Indeks:</label>
    </div>
    <div class="col-sm-8 form-group">
        <input type="text" class="form-control" id="usr">
    </div>
</div>

<div class="row">
    <div class="button-box col-sm-6">
    </div>
    <div class="button-box col-sm-6">
        <div class="button-box col-sm-2">
            <button type="button" class="btn btn-default pull-right btn-block">Nowy</button>
        </div>
        <div class="button-box col-sm-2">
            <button type="button" class="btn btn-default pull-right btn-block">Zapisz</button>
        </div>
        <div class="button-box col-sm-2">
            <button type="button" class="btn btn-default pull-right btn-block">Usuń</button>
        </div>
    </div>
</div>